---
- job:
    name: {{ JOB_NAME }}
    project-type: pipeline
    triggers:
      - timed: {% if 'daily-ocp4.22-powervm-p9-min' in JOB_NAME %}"00 00 * * * "
        {% elif 'daily-ocp4.21-powervm-p9-min' in JOB_NAME %}"00 01 * * * "

        {% elif 'weekly-ocp4.16-to-4.17-powervm-p9-min-upgrade' in JOB_NAME %}"00 09 * * 6 "
        {% elif 'weekly-ocp4.17-to-4.18-powervm-p9-min-upgrade' in JOB_NAME %}"00 09 * * 5 "
        {% elif 'weekly-ocp4.18-to-4.19-powervm-p9-min-upgrade' in JOB_NAME %}"00 09 * * 4 "
        {% elif 'weekly-ocp4.19-to-4.20-powervm-p9-min-upgrade' in JOB_NAME %}"00 09 * * 3 "
        {% elif 'weekly-ocp4.20-to-4.21-powervm-p9-min-upgrade' in JOB_NAME %}"00 09 * * 2 "
        {% elif 'weekly-ocp4.21-to-4.22-powervm-p9-min-upgrade' in JOB_NAME %}"00 09 * * 1 "

        {% elif 'weekly-ocp4.20-powervm-p9-min' in JOB_NAME %}"00 16 * * 2 "
        {% elif 'weekly-ocp4.22-powervm-p9-vscsi-multipath' in JOB_NAME %}"00 16 * * 1 "
        {% elif 'weekly-ocp4.21-powervm-p9-verification' in JOB_NAME %}"00 09 * * 6 "
        {% elif 'weekly-ocp4.22-powervm-p9-npiv' in JOB_NAME %}"00 09 * * 7 "
        {% elif 'weekly-ocp4.22-powervm-p9-verification' in JOB_NAME %}"00 09 * * 5 "
        {% elif 'weekly-ocp4.22-powervm-p9-sriov' in JOB_NAME %}"00 16 * * 4 "

        {% elif 'odf4.21-powervm-p9-tier-1' in JOB_NAME %}"00 20 * * 5 "
        {% elif 'odf4.21-powervm-p9-tier-2' in JOB_NAME %}"00 20 * * 6 "
        {% elif 'odf4.21-powervm-p9-tier-3' in JOB_NAME %}"00 20 * * 1 "
        {% elif 'odf4.21-powervm-p9-tier-4a' in JOB_NAME %}"00 20 * * 2 "
        {% elif 'odf4.21-powervm-p9-tier-4b' in JOB_NAME %}"00 20 * * 3 "
        {% elif 'odf4.21-powervm-p9-tier-4c' in JOB_NAME %}"00 20 * * 4 "
        {% elif 'odf4.21-powervm-p9-tier-1-buffer-io-disabled' in JOB_NAME %}"00 20 * * 7 "

        {% elif 'daily-ocp4.22-powervs-script-p9-min' in JOB_NAME %}"0 06 * * 1,3,5 "
        {% elif 'daily-ocp4.21-powervs-script-p9-min' in JOB_NAME %}"0 06 * * 2 "
        {% elif 'daily-ipi4.20-powervs-frankfurt1' in JOB_NAME %}"0 0 * * 1 "
        {% elif 'daily-ipi4.20-powervs-washingtondc06' in JOB_NAME %}"0 2 * * 1 "
        {% elif 'daily-ipi4.20-powervs-saopaulo04' in JOB_NAME %}"0 0 * * 2 "
        {% elif 'daily-ipi4.20-powervs-madrid02' in JOB_NAME %}"0 2 * * 2 "
        {% elif 'daily-ipi4.20-powervs-frankfurt2' in JOB_NAME %}"0 0 * * 3 "
        {% elif 'daily-ipi4.20-powervs-washingtondc07' in JOB_NAME %}"0 2 * * 3 "
        {% elif 'daily-ipi4.20-powervs-madrid04' in JOB_NAME %}"0 0 * * 4 "
        {% elif 'daily-ipi4.20-powervs-saopaulo01' in JOB_NAME %}"0 2 * * 4 "
        {% elif 'daily-ipi4.20-powervs-london06' in JOB_NAME %}"0 0 * * 5 "
        {% elif 'daily-ipi4.20-powervs-osaka21' in JOB_NAME %}"0 2 * * 5 "
        {% elif 'daily-ipi4.20-powervs-sydney04' in JOB_NAME %}"0 0 * * 6 "
        {% elif 'powervs-ipi-cleanup-job' in JOB_NAME %}"0 13,20 * * * "
        {% elif 'powervs-cleanup-job' in JOB_NAME %}"0 0 * * * "

        {% elif 'mirror-openshift-release' in JOB_NAME %}"@hourly"
        {% elif 'poll-powervc-images' in JOB_NAME %}"@daily"
        {% elif 'poll-powervs-images' in JOB_NAME %}"@daily"
        {% else %}""
        {% endif %}
    sandbox: true
    concurrent: true
    properties:
      - copyartifact:
          projects: "*"
      {% if 'mirror-openshift-release' in JOB_NAME %}
      - build-discarder:
          num-to-keep: 200
          artifact-num-to-keep: 200
      {% elif 'daily-ipi' in JOB_NAME %}
      - build-discarder:
          num-to-keep: 30
          artifact-num-to-keep: 30
      {% elif 'odf' in JOB_NAME %}
      - build-discarder:
          num-to-keep: 10
          artifact-num-to-keep: 10
      {% else %}
      - build-discarder:
          num-to-keep: 30
          artifact-num-to-keep: 30
      {% endif %}
    pipeline-scm:
      scm:
        - git:
            url: https://github.com/ppc64le-cloud/jenkins-infra.git
            branches:
              - master
            credentials-id: github
            clean: true
      script-path: {{ JENKINS_FILE }}
